<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Account | United Federation of Teachers </title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Roboto:400,400i,500,700|Source+Sans+Pro:400,400i,700">
    <link href="styles/uft.css?v=3" rel="stylesheet"/>
    <link href="styles/bootstrap.css" rel="stylesheet"/>
    <link href="styles/uft-sm.css?v=3" rel="stylesheet"/>
    <link href="styles/forms-uftwf.css?v=3" rel="stylesheet"/>
    <link href="styles/my-account.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script>
        if(window.location.hostname == "services.uft.org"){
            <!-- Production -->
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=i91GxXrplktTDko6B98qsQ&gtm_preview=env-1&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KFBLWL2');
        }
        else
        {
        <!-- Dev -->
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=SBk6g4kpsJltp1SnmBQ_Fw&gtm_preview=env-3&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KFBLWL2');
        }

    </script>
    <script src="scripts/angular.min.js" type="text/javascript"></script>
    <script src="scripts/uftAccount.js?version=12" type="text/javascript"></script>
    <script src="scripts/svgxuse.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
<!--    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-309174-11"></script>-->
<!--    <script>-->
<!--        window.dataLayer = window.dataLayer || [];-->
<!--        function gtag(){dataLayer.push(arguments);}-->
<!--        gtag('js', new Date());-->

<!--        gtag('config', 'UA-309174-11');-->
<!--    </script>-->



</head>
<body ng-app="uftApp">
<!-- Google Tag Manager (noscript) -->
<!-- Production -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFBLWL2&gtm_auth=i91GxXrplktTDko6B98qsQ&gtm_preview=env-1&gtm_cookies_win=x"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<!-- Dev -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFBLWL2&gtm_auth=SBk6g4kpsJltp1SnmBQ_Fw&gtm_preview=env-3&gtm_cookies_win=x"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<uft-header></uft-header>
<div class="container-fluid content" ng-controller="accountFormController" id="container">

<!--    <div class="row" ng-show="showBanner">-->
<!--        <div class="col-12 text-center">-->
<!--        <div class="alert alert-success" role="alert">-->
<!--            <label>Switch to new <a ng-href={{communitylink}} class="text-primary"> self-service portal experience </a></label>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row" ng-show="showBanner">-->
<!--        <div class="offset-lg-2 offset-md-1 col-lg-8 col-md-10 col-sm-12 col-xs-12">-->
<!--            <div class="alert cl-hub" role="alert">-->
<!--                <label>-->
<!--                    <a ng-href={{communitylink}} class="text-primary">Go to the-->
<!--                        <div>Chapter Leader Hub</div>-->
<!--                        <div class="subtitle">for chapter leader forms and information</div>-->
<!--                    </a>-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->



    <div id="wrapper">
        <!-- edit page-->
        <form id="asideEdit" name="accountForm">
            <!-- floating save/cancel button -->
            <div id="btnFixed">
                <button type="submit" class="editButton cancelButton gapBetweenS" ng-click="cancel()">Cancel</button>
                <div ng-init="update==false">
                    <button type="submit" class="editButton saveButton" ng-click="enableSave()" ng-disabled="updating">{{updateMessage?updateMessage:'Save'}}</button>
                </div>
            </div>
            <!-- error alert -->
            <div ng-show="errorField" >
                <label class="wrapperBody errorAlert" ng-repeat="error in errors">
                    <span style="margin: auto">{{error}}</span>
                </label>
            </div>

            <div class="positionLayout">
                <!-- back button -->
                <button id="buttonClose" class="textButton positionButton" onclick="closeEdit()">
                    <span class="material-symbols-outlined iconButton">arrow_back</span>
                    Back
                </button>
                <!-- edit instruction for member -->
<!--                <div ng-show="isMember&&!isCCP" style="margin-right: 100px;">-->
<!--                    <label class="col-12" style="padding: 0">You may update your username, email address or password here.</label>-->
<!--                </div>-->

                <!-- content -->
                <div class="gapBetween">
                    <div class="positionLayout">
                        <span class="title">Change username or email address</span>
                        <span class="text-danger requiredInfo">(required)</span>
                        <div class="editSubColor gapBetweenS">Enter new information below and click save</div>
                    </div>

                    <div class="editTile">
                        <div class="gapBetweenS">
                            <div class="col-md-5 inlineBlockGap" style="display: inline-block;">
                                <label for="username" style="display: block">Username:</label>
                                <input type="text" class="inputBox col-md-10" id="username" maxlength="25"
                                       name="username" ng-model="personInfo.username" placeholder="username" required />
                            </div>
                            <div class="col-md-5" style="display: inline-block;">
                                <label for="email" style="display: block">Email:</label>
                                <input type="text" class="inputBox col-md-10" id="email" maxlength="250"
                                       name="email" ng-model="personInfo.email" placeholder="Email" required email-verify
                                       ng-model-options="{ updateOn: 'blur' }"/>
                                <div class="errorMessage">
                                    <span class="invalid" ng-show="accountForm.email.$error.invalidEmail">Invalid format for email.</span>
                                </div>
                                <div class="errorMessage">
                                    <span class="invalid" ng-show="accountForm.email.$error.invalidEmailDomain">Please provide an email address that is not from the {{invalidDomain}} domain.</span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="isMember" class="gapBetweenS col-md-5">
                            <label for="memberId" style="display: block">UFT ID:</label>
                            <input type="text" class="inputBox col-md-10" id="memberId" maxlength="25"
                                   name="memberId" ng-model="memberId" ng-disabled="isMember"
                                   ng-model-options="{ updateOn: 'blur' }"/>
                        </div>
                        <div class="gapBetweenS">
                            <div class="col-md-5 inlineBlockGap" style="display: inline-block;">
                                <label for="firstname" style="display: block">First Name:</label>
                                <input type="text" class="inputBox col-md-10" id="firstname" maxlength="15"
                                       name="firstname" ng-model="personInfo.firstname" placeholder="First Name" required name-verify
                                       ng-model-options="{ updateOn: 'blur' }" ng-disabled="isMember"/>
                                <div class="errorMessage">
                                    <span class="invalid" ng-show="accountForm.firstname.$error.invalidName">Invalid format for first name.</span>
                                </div>
                            </div>
                            <div class="col-md-5" style="display: inline-block;">
                                <label for="lastname" style="display: block">Last Name:</label>
                                <input type="text" class="inputBox col-md-10" id="lastname" maxlength="15"
                                       name="lastname" ng-model="personInfo.lastname" placeholder="Last Name" required name-verify
                                       ng-model-options="{ updateOn: 'blur' }" ng-disabled="isMember"/>
                                <div class="errorMessage">
                                    <span class="invalid" id="lastNameErrorMessage"
                                        ng-show="accountForm.lastname.$error.invalidName">Invalid format for last name.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" ng-show="personInfo.userAttributes!=null&&personInfo.userAttributes.zipCode&&!isMember">
                            <label for="zipCode" style="display: block">Zip Code:</label>
                            <input type="text" class="inputBox col-md-10" id="zipCode" maxlength="5"
                                   name="zipCode" ng-model="personInfo.userAttributes.zipCode[0]" placeholder="zipCode"  is-zip ng-required="personInfo.userAttributes!=null&&personInfo.userAttributes.zipCode"
                                   ng-model-options="{ updateOn: 'blur' }" ng-disabled="isMember"/>
                            <div class="errorMessage">
                                <span class="invalid" ng-show="accountForm.zipCode.$error.invalidLength">Zip Code must contains 5 digits.</span>
                            </div>
                            <div class="errorMessage">
                                <span class="invalid" ng-show="accountForm.zipCode.$error.invalidNumber">Zip Code must be a numeric value.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gapBetween">
                    <div class="title">Change UFT password</div>
                    <div class="editSubColor gapBetweenS">Passwords must have 8 characters and include at least one uppercase letter, one lowercase letter and one number</div>
                    <div class="editTile">
                        <div class="col-md-5 inlineBlockGap" style="display: inline-block;">
                            <label for="newpassword">Change Password:</label>
                            <input type="password" class="inputBox col-md-10" id="newpassword"
                                   maxlength="25" name="newpassword"
                                   ng-model="newpassword" newpassword-valid ng-model-options="{ updateOn: 'blur' }"/>
                            <div class="errorMessage">
                                <span class="invalid" ng-show="accountForm.newpassword.$error.invalidPasswordFormat">Passwords must be at least 8 characters and contain a minimum of one uppercase, one lowercase and one digit.</span>
                            </div>

                        </div>
                        <div class="col-md-5" style="display: inline-block;">
                            <label for="confirmpassword">Confirm Password:</label>
                            <input type="password" class="inputBox col-md-10" id="confirmpassword" maxlength="25"
                                   name="confirmpassword" ng-model="confirmpassword" confirmpassword-valid
                                   ng-model-options="{ updateOn: 'blur' }"/>
                            <div class="errorMessage">
                                <span class="invalid" ng-show="accountForm.confirmpassword.$error.newpasswordisEmpty">Change password field is empty.</span>
                            </div>
                            <div class="errorMessage">
                                <span class="invalid" ng-show="accountForm.confirmpassword.$error.invalidconfirmPassword">Confirm password not match.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gapBetween" ng-show="isMember">
                    <div class="title">Manage UFT messages</div>
                    <div class="editSubColor gapBetweenS">Sign up or change your preferences</div>
                    <div class="editTile">
                        <div class="gapBetweenS">
                            <label class="col-md-3" style="display: inline-block">UFT emails: </label>
                            <label class="subscriptionPadding">
                                <input type="checkbox" ng-model="emailSubscribe" class="form-radio"
                                       id="subscribe" name="subscribe" ng-checked="!unSubscribe"/>
                                Subscribe to receive UFT emails
                            </label>
                        </div>
                        <div class="gapBetweenS">
                            <label class="col-md-3" style="display: inline-block">UFT text messages: </label>
                            <div class="subscriptionPadding">
                                Opt-in to receive UFT text messages
                            </div>
                            <div class="offset-md-3 col-md-8">
                                <div class="radioOption">
                                    <div class="radio-inline">
                                        <label class="col-12 stripP">
                                            <input type="radio" name="phoneoption" value="yes" ng-model="optin" class="form-radio">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="row gapBetweenS" ng-show="optin=='yes'" style="margin-left: 0">
                                        <label>Cell Phone Number</label>
                                        <div class="row col-12" style="padding-left: 0">
                                            <div class="col-3 col-md-2" id="phoneField" style="padding-left: 0">
                                                <input name="phoneField" id="phone" class="form-control" size="3"
                                                       maxlength="3" placeholder="xxx" ng-model="phoneField" number-valid
                                                       ng-model-options="{ updateOn: 'blur' }" ng-required="optin=='yes'"
                                                       ng-keyup="phonefocus('phoneField',$event)"/>
                                            </div>
                                            <div class="col-3 col-md-2" id="phoneField2" style="padding-left: 0;">
                                                <input name="phone2" id="phone2" class="form-control" size="3"
                                                       maxlength="3" placeholder="xxx" ng-model="phoneField2" number-valid
                                                       ng-model-options="{ updateOn: 'blur' }" ng-required="optin=='yes'"
                                                       ng-keyup="phonefocus('phoneField2',$event)"/>
                                            </div>
                                            <div class="col-3 col-md-2" style="padding-left: 0;">
                                                <input name="phoneField3" id="phoneField3" class="form-control" size="4"
                                                       maxlength="4" placeholder="xxxx" ng-model="phoneField3" number-valid
                                                       ng-model-options="{ updateOn: 'blur' }" ng-required="optin=='yes'"
                                                       ng-keyup="phonefocus('phoneField3',$event)"/>
                                            </div>
                                        </div>
                                        <div class="errorMessage">
                                            <span class="invalid" ng-show="accountForm.phoneField.$error.invalidNumber">First phone field must be numeric.</span>
                                        </div>
                                        <div class="errorMessage">
                                            <span class="invalid" ng-show="accountForm.phoneField2.$error.invalidNumber">Second phone field must be numeric.</span>
                                        </div>
                                        <div class="errorMessage">
                                            <span class="invalid" ng-show="accountForm.phoneField3.$error.invalidNumber">Third phone field must be numeric.</span>
                                        </div>
                                        <div class="message">
                                           * Msg & Data Rates May Apply. Text STOP to opt out. <a href="https://www.uft.org/uftorg-privacy-statement" class="text-primary" target="_blank">Privacy policy »</a>
                                        </div>
                                    </div>
                                    <div class="radio-inline">
                                        <label class="col-12 text-left stripP">
                                            <input type="radio" name="phoneoption" value="no" ng-model="optin" ng-click="hidePhoneField()" class="form-radio">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- save/cancel button -->
                <div class="wrapperBody buttonLayout gapBetween gapAround">
                    <div>
                        <button type="submit" class="editButton cancelButton"  ng-click="cancel()">Cancel</button>
                    </div>
                    <div ng-init="update==false">
                        <button type="submit" class="editButton saveButton" ng-click="enableSave()" ng-disabled="updating">{{updateMessage?updateMessage:'Save'}}</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- my account page-->
        <div class="wrapperBody" id="wrapperAccount">
            <!-- left info section -->
            <div id="aside">
                <div class="positionLayout">
                    <!-- title in left when in mobile -->
                    <h3 class="titleAside">My Account</h3>
                    <!-- info header -->
                    <div class="row gapBetweenS">
                        <div class="col-3" style="padding: 0">
                            <div class="avatar">
                                <span class="avatarInitial">{{personInfo.firstname[0].toUpperCase()+personInfo.lastname[0].toUpperCase()}}</span>
                            </div>
                        </div>
                        <span class="col-7 usernameTitle title">Hi, {{personInfo.firstname[0].toUpperCase() + personInfo.firstname.slice(1)}}</span>
                        <!-- dropdown button -->
                        <button class="dropdownButton col-2" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <span class="material-symbols-outlined">
                                arrow_drop_down
                            </span>
                        </button>
                    </div>

                    <!-- user info -->
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body collapseCard" style="position: static !important;">
                            <div class="row">
                                <div class="col-5 boldText">First Name:</div>
                                <div class="col-7">
                                    <p>{{personInfo.firstname}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 boldText">Last Name:</div>
                                <div class="col-7">
                                    <p>{{personInfo.lastname}}</p>
                                </div>
                            </div>

                            <div class="row" ng-show="isMember">
                                <div class="col-5 boldText">UFT ID:</div>
                                <div class="col-7">
                                    <p>{{memberId}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 boldText">Username:</div>
                                <div class="col-7">
                                    <p>{{personInfo.username}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 boldText">Email:</div>
                                <div class="col-12">
                                    <p>{{personInfo.email}}</p>
                                </div>
                            </div>

                            <div class="row" ng-show="personInfo.userAttributes!=null&&personInfo.userAttributes.zipCode&&!isMember">
                                <div class="col-5 boldText">Zip Code:</div>
                                <div class="col-7">
                                    <p>{{personInfo.userAttributes.zipCode[0]}}</p>
                                </div>
                            </div>
                            <p class="subscriptionInfo" ng-show="isMember">Subscription Status:</p>
                            <div class="row" ng-show="isMember">
                                <div class="col-5 boldText">Text:</div>
                                <div class="col-7">
                                    <p ng-show="optin=='yes'">{{optinNumber}}</p>
                                    <p ng-show="optin=='no'">None</p>
                                </div>
                            </div>

                            <div class="row gapBetweenS" ng-show="isMember">
                                <div class="col-5 boldText">Email:</div>
                                <div class="col-7">
                                    <p>{{unSubscribe?'Unsubscribed':'Subscribed'}}</p>
                                </div>
                            </div>
                            <!-- edit button -->
                            <button class="textButton floatRight text-center" ng-click="openEdit()"
                                    style="width: 5em; align-self: flex-end;">
                                <span class="material-symbols-outlined iconButton">edit</span>
                                <span>Edit</span>
                            </button>
                        </div>
                    </div>
                </div>


                <hr class="gapBetween">
                <!-- left button -->

                <div class="">
                    <div class="leftTile gapBetween hubText tileSize" ng-show="isMember">
                        <a href="https://hub.uft.org" target="_blank">
                            <span class="boldText">Member Hub</span>
                            <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                        </a>
                    </div>
                    <div class="leftTile gapBetween hubText tileSize" ng-show="hasChpaterLeaderSection">
                        <a href="https://hub.uft.org/uftselfservice/s/chapter-leader-hub-home-page" target="_blank">
                            <span class="boldText">Chapter Leader Hub</span>
                            <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                        </a>
                    </div>
                    <div class="leftTile gapBetween hubText tileSize" ng-show="hasRetireeSection">
                        <a href="https://hub.uft.org/uftselfservice/s/retiree-resources" target="_blank">
                            <span class="boldText">Retiree resources</span>
                            <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                        </a>
                    </div>
                    <div class="wrapperBody tileSize" style="justify-content: space-between">
                        <a href="https://www.uft.org/your-rights/frequently-asked-questions" target="_blank" class="wrapperBody leftWrapper leftTile gapBetween otherTile">
                            <span class="boldText">FAQs</span>
                            <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                        </a>
                        <a href="https://www.uft.org/get-involved/events" target="_blank" class="wrapperBody leftWrapper leftTile gapBetween otherTile">
                            <span class="boldText">Events</span>
                            <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                        </a>
                    </div>
                </div>


                <!--                <fieldset class="scheduler-border">-->
                <!--                    <legend class="scheduler-border">My Account</legend>-->
                <!--                    <form class="form-horizontal accountForm" name="accountForm" >-->
                <!--                        <div class="form-group" ng-show="isEdit&&isMember&&!isCCP">-->
                <!--                            <label class="text-center col-12">You may update your username, email address or password here.</label>-->
                <!--                        </div>-->
                <!--                        <div class="form-group" ng-show="errorField&&isEdit">-->
                <!--                            <label class="text-danger text-center" ng-repeat="error in errors">{{error}}</label>-->
                <!--                        </div>-->
                <!--                        <div class="form-group row" ng-show="!isEdit">-->
                <!--                            <div class="col-md-10 col-sm-12 smallButton button-right">-->
                <!--                                <div class="smallButton button-right">-->
                <!--                                    <button type="button" class="btn btn-primary" id="EditButton" ng-click="enableEdit()">Edit-->
                <!--                                    </button>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->



                <!--                                <div class="radioOption">-->
                <!--                                    <div class="radio-inline">-->
                <!--                                        <label class="col-12 text-left stripP">
                                                <input type="radio" name="phoneoption" value="yes" ng-model="optin" class="form-radio">Yes</label>-->
                <!--                                    </div>-->
                <!--                                    <div class="form-group short-form row" ng-show="optin=='yes'">-->

                <!--                                    </div>-->
                <!--                                    <div class="radio-inline">-->
                <!--                                        <label class="col-12 text-left stripP">
                                                                <input type="radio" name="phoneoption" value="no" ng-model="optin"-->
                <!--                                               ng-click="hidePhoneField()" class="form-radio">
                                                                No
                                                            </label>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="form-group row" ng-show="isMember && !isEdit && hasPhone">-->
                <!--                            <label class="col-sm-3 col-form-label">Phone:</label>-->
                <!--                            <div class="col-sm-9">-->
                <!--                                <p ng-show="!isEdit" class="col-form-label ">-->
                <!--                                    {{phoneField}}-{{phoneField2}}-{{phoneField3}}</p>-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                    </form>-->

                <!--                </fieldset>-->
            </div>

            <!-- main -->
            <div class="main" id="main">
                <h3 class="titleMain">My Account</h3>
                <hr class="gapBetween titleMain">

                <div>
<!--                <div class="gapBetweenL">-->
<!--                    <div class="title gapBetween">Online forms for new employees</div>-->
<!--                    <div class="wrapperBody rightWrapper" style="">-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Join the UFT</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Receive rights and benefits exclusive to UFT members.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Enroll in the UFT Welfare Fund</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">The union provides an array of benefits to supplement your health plan coverage. Welfare Fund enrollment is separate from your NYC health plan enrollment.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="gapBetweenL">-->
<!--                    <div class="title gapBetween">Online forms to gain website access</div>-->
<!--                    <div class="wrapperBody rightWrapper">-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Verify Your Identity</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Verify your identity for enhanced access to the UFT website and to access the UFT mobile app.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Verify Child Care Provider</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">If you are a licensed UFT family child care provider, please verify your identity.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="gapBetweenL">-->
<!--                    <div class="title gapBetween">Internal Administrative Queues</div>-->
<!--                    <div class="wrapperBody rightWrapper">-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Union Enrollment Admin Queue</div>-->
<!--                                </div>-->
<!--                                <div class="tileText"></div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Welfare Enrollment Admin Queue</div>-->
<!--                                </div>-->
<!--                                <div class="tileText"></div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Change of Status Admin Queue</div>-->
<!--                                </div>-->
<!--                                <div class="tileText"></div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="gapBetweenL">-->
<!--                    <div class="title gapBetween">Member Dashboard</div>-->
<!--                    <div class="wrapperBody rightWrapper">-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Verify Personal Information</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">View current records and preferences on file with the UFT.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="gapBetweenL">-->
<!--                    <div class="title gapBetween">Member Resources</div>-->
<!--                    <div class="wrapperBody rightWrapper" style="">-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Join the UFT</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Receive rights and benefits exclusive to UFT members.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Enroll in the UFT Welfare Fund</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">The union provides an array of benefits to supplement your health plan coverage. Welfare Fund enrollment is separate from your NYC health plan enrollment.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Change of Status form</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Update your name, address, marital status or family profile.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Change of Address</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Change Union Information.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Ask the Union</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Submit a question or inquiry to UFT staff.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Ask the UFT Welfare Fund</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Submit a question about your supplemental health benefits.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Access Optical Benefits</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Request Optical Services.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Access Hearing Aid Benefits</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Request Hearing Aid Certificate.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Enroll in a course</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">View current UFT courses and register online.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>College and Career Counseling Program</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">See your appointment schedule.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Discount</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">See member-only discounts on apparel, entertainment, school supplies and more.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Buy movie tickets</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Buy discounted movie tickets from the UFT.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>UFT Forms & Documents</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">View or download important UFT and DOE materials.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="gapBetweenL" >-->
<!--                    <div class="title gapBetween">Chapter Leader Resources</div>-->
<!--                    <div class="wrapperBody rightWrapper">-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>File a Step 1 Grievance</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Submit grievances on behalf of your chapter members.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Grievance History</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">View current and past grievances filed from your chapter.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>Nonmember Report</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">See which staff members at your school have not joined the union.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>File an Operational Issue Report</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Report an operational issue at your school to the UFT.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="" class="rightTile wrapperBody rightTileWrapper">-->
<!--                                <div class="tileButton">-->
<!--                                    <div>File a Consultation Committee Report</div>-->
<!--                                </div>-->
<!--                                <div class="tileText">Record issues discussed during monthly meetings.</div>-->
<!--                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

</div>


                <div class="gapBetweenL" ng-show="!isMember&&!isCCP">
                    <div class="title gapBetween">Online forms for new employees</div>
                    <div class="wrapperBody rightWrapper" style="">
                        <div ng-repeat ="nonMemberApp in nonMemberApplicationList|orderBy:'priority'">
                            <a href="{{nonMemberApplicationList[$index].appUrl}}" class="rightTile wrapperBody rightTileWrapper">
                                <div class="tileButton">
                                    <div>{{nonMemberApplicationList[$index].appName}}</div>
                                </div>
                                <div class="tileText">{{nonMemberApplicationList[$index].description}}</div>
                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="gapBetweenL" ng-show="accessApp&&!isCCP">
                    <div class="title gapBetween">Online forms to gain website access</div>
                    <div class="wrapperBody rightWrapper">
                        <div ng-repeat ="nonMemberApp in accessApplicationList|orderBy:'priority'">
                            <a href="{{accessApplicationList[$index].appUrl}}" class="rightTile wrapperBody rightTileWrapper">
                                <div class="tileButton">
                                    <div>{{accessApplicationList[$index].appName}}</div>
                                </div>
                                <div class="tileText">{{accessApplicationList[$index].description}}</div>
                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="gapBetweenL" ng-show="hasStaffSection">
                    <div class="title gapBetween">Internal Administrative Queues</div>
                    <div class="wrapperBody rightWrapper">

                        <div ng-repeat ="app in welfareAdminApp|orderBy:'priority'">
                            <a href="{{welfareAdminApp[$index].appUrl}}" class="rightTile wrapperBody rightTileWrapper" ng-class="{disabled: !welfareAdminApp[$index].status}">
                                <div class="tileButton">
                                    <div>{{welfareAdminApp[$index].appName}}</div>
                                </div>
                                <div class="tileText">{{welfareAdminApp[$index].description}}</div>
                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gapBetweenL" ng-show="hasHelpDeskSection">
                    <div class="title gapBetween">Member Dashboard</div>
                    <div class="wrapperBody rightWrapper">
                        <div ng-repeat ="app in helpDeskList|orderBy:'priority'">
                            <a href="{{helpDeskList[$index].appUrl}}" class="rightTile wrapperBody rightTileWrapper" ng-class="{disabled: !helpDeskList[$index].status}">
                                <div class="tileButton">
                                    <div>{{helpDeskList[$index].appName}}</div>
                                </div>
                                <div class="tileText">{{helpDeskList[$index].description}}</div>
                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gapBetweenL" ng-show="isMember&&!isCCP">
                    <div class="title gapBetween">Member Resources</div>
                    <div class="wrapperBody rightWrapper">
                        <div ng-repeat ="app in appList|orderBy:'priority'">
                            <a href="{{appList[$index].appUrl}}" class="rightTile wrapperBody rightTileWrapper" ng-class="{disabled: !appList[$index].status}" ng-attr-target="{{appList[$index].external?'_blank':undefined}}">
                                <div class="tileButton">
                                    <div>{{appList[$index].appName}}</div>
                                </div>
                                <div class="tileText">{{appList[$index].description}}</div>
                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                            </a>
                        </div>

                        <div>
                            <a href="" class="rightTile wrapperBody rightTileWrapper">
                                <div class="tileButton">
                                    <div>UFT Forms & Documents</div>
                                </div>
                                <div class="tileText">View or download important UFT and DOE materials.</div>
                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="gapBetweenL" ng-show="hasChpaterLeaderSection">
                    <div class="title gapBetween">Chapter Leader Resources</div>
                    <div class="wrapperBody rightWrapper">
                        <div ng-repeat ="app in webList|orderBy:'priority'">
                            <a href="{{webList[$index].appUrl}}" class="rightTile wrapperBody rightTileWrapper" ng-class="{disabled: !webList[$index].status}">
                                <div class="tileButton">
                                    <div>{{webList[$index].appName}}</div>
                                </div>
                                <div class="tileText">{{webList[$index].description}}</div>
                                <span class="material-symbols-outlined arrowPosition">chevron_right</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


<!--        <div id="subscribeModal" class="modal">-->
<!--            <div class="modal-content offset-xl-2 col-xl-8 offset-md-1 col-md-10 col-sm-12">-->
<!--                <p>Are you <b>Sure</b> you want to unsubscribe, you will no longer received any emails from the UFT. </p>-->
<!--                <div class="d-flex justify-content-between">-->
<!--                    <button type="button" class="btn btn-primary col-xl-2 col-lg-3 col-md-4 col-sm-6" id="subscribeModalCancel" ng-click="closeSubscribeModal()">Cancel</button>-->
<!--                    <button type="button" class="btn btn-primary col-xl-2 col-lg-3 col-md-4 col-sm-6" id="subscribelModalConfirm" ng-click="unsubscribeEmail()">Unsubscribe</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

    <!-- email change popup -->
    <div id="emailModal" class="modal">
        <div class="modal-content offset-xl-2 col-xl-8 offset-md-1 col-md-10 col-sm-12" style="border-radius: 15px">
            <p class="gapBetween">Your email has been updated please check you new email inbox and click the action link. Please click the Log out button and you will be logout.</p>
            <div class="d-flex justify-content-center">
                <button type="button" class="button-right col-xl-4 col-lg-6 col-sm-12" style="border-radius: 15px;" id="typeModalClose" ng-click="closeEmailModal()">Log out</button>
            </div>
        </div>
    </div>


</div>

<uft-footer></uft-footer>

<script>
    let editStyle = document.getElementById("asideEdit").style;
    let wrapperAccount = document.getElementById("wrapperAccount").style;

    function closeEdit() {
        editStyle.flex = "0";
        editStyle.opacity = "0";
        editStyle.height = "0";
        editStyle.width = "0";

        wrapperAccount.width = "100%";
        wrapperAccount.flex = "1";
        wrapperAccount.opacity = "1";
        wrapperAccount.height = "100%";
    }

</script>

</body>
</html>