    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-309174-11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-309174-11');
    </script>
<div class="container-fluid head-container">
    <div class="row logout-link">
        <div class="offset-lg-2 col-lg-8 d-flex flex-row-reverse">
<!--            <label><button class="btn btn-link logout-button" ng-click="logout()">Log Out</button></label>-->
        <div class="dropdown">
            <a ng-click="toggleDropdown()" ng-mouseover="toggleDropdown($event)"  class="link-inline showmenutag"><span class="text-underline mr-2 showmenutag" ng-click="toggleDropdown($event)">{{firstname+" "+lastname}}</span> <div class="avatarLogout mt-2 showmenutag" ><p class="pl-1 pt-3 avatar-text showmenutag" >{{firstname[0].toUpperCase()+""+lastname[0].toUpperCase()}}</p></div></a>
            <div id="menuDropdown" class="dropdown-menu dropdown-menu-right" ng-blur="removeDropdown()">
                <a href="https://hub.uft.org/uftselfservice/s/chapter-leader-hub-home-page/" ng-show="chapterleadercommunity"><img class="menu-icon" src="images/cl-hub-icon.svg" alt="Chapter Leader Hub"/>Chapter Leader hub</a>
                <a href="https://hub.uft.org/uftselfservice/s/" ng-show="activeStatus=='U'"><img class="menu-icon" src="images/member-hub-icon.svg" alt="Member Hub"/>Member Hub</a>
                <a href="https://hub.uft.org/uftselfservice/s/retiree-resources" ng-show="hasRetireeSection"><img class="menu-icon" src="images/member-hub-icon.svg" alt="Member Hub"/>Retiree Resources</a>
                <a href="#" ng-click="logout()"><img class="menu-icon" src="images/log-out-icon.svg" alt="Log out"/>Log out</a>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-3 col-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 d-none d-md-block">
                        <a href="home">
                            <svg class="col-md-12">
                                <use xlink:href="images/sprite.svg#uft-logo-large"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="d-block d-md-none col-sm-12">
                        <a href="home">
                            <svg class="col-sm-12">
                                <use xlink:href="images/sprite.svg#uft-logo-notext"></use>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
