/* test */
* {
    /*color: yellow;*/
}

/* all */
#wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 0 10%;
    overflow: hidden;
}

@media screen and (max-width: 1367px) {
    #wrapper {
        padding: 0 5%;;
    }
}

.wrapperBody {
    display: flex;
    flex-flow: row wrap;
}

.title{
    font-family: Roboto, serif;
    font-weight: 600;
    font-size: 1.2em;
}

.gapBetween {
    margin-bottom: 30px;
}

.gapBetweenS {
    margin-bottom: 15px;
}

.gapBetweenL {
    margin-bottom: 50px;
}

.gapAround {
    padding: 15px
}

.positionLayout {
    position: relative;
}

.col-5 {
    padding-right: 0 !important;
}

a {
    color: #373737 !important;
    cursor: pointer;
}

a:hover {
    text-decoration: none !important;
    color: #373737 !important;
}

h3 {
    font-size: 3.15rem !important;
    line-height: 1.3 !important;
    margin-bottom: 1.5rem !important;
    font-weight: 700 !important;
}

.positionLayout .row {
    margin-left: 0 !important;
}

.invalid {
    position: absolute !important;
    background-color: #FA787E !important;
    border: none;
    border-radius: 10px;
    z-index: 5;
}

.invalid:before {
    border: none;
    background: #FA787E !important;
}

/* animation */
#wrapperAccount {
    flex: 1;
    transition: 0.4s;
}

#asideEdit {
    flex: 0;
    opacity: 0;
    height: 0;
    width: 0;
    transition: 0.4s;
    padding: 0;
    margin: 0;
}

/* layout */
#aside {
    order: 1;
    flex: 1;
    min-width: 300px;
    padding: 0 2% 0 0;
}

#main {
    flex: 2;
    order: 2;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left: 3%;
}

@media screen and (max-width: 700px) {
    #aside {
        margin: 0;
        padding: 0;
    }
}

/* button */
.textButton {
    background-color: white;
    border: 1px #993398 solid;
    border-radius: 10px;
    color: #993398 !important;
    font-size: 0.9em !important;
    padding: 0 10px!important;
}

.positionButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.dropdownButton {
    background: none;
    border: none;
    color: #373737 !important;
    padding: inherit;
}

.textButton .material-symbols-outlined {
    font-size: 1.2em !important;
}

.dropdownButton .material-symbols-outlined {
    font-size: 2em !important;
}

.iconButton {
    vertical-align: sub;
    margin-right: 3px;
}

button:focus, button:active {
    outline: none !important;
}

.editButton {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 0.9em !important;
    display: block;
    float: right;
}

.cancelButton {
    background-color: #f8f9fd;
    color: #373737 !important;
}

.saveButton {
    background-color: #993398;
    color: white !important;
}

.buttonLayout {
    justify-content: center;
    gap: 1em;
}

#btnFixed {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 3;
    float: right;
}

/* aside edit */
.editSubColor {
    color: #959595;
}

.editTile {
    background-color: #f8f9fd;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 25px 15px;
    border-radius: 15px;
    font-size: 0.9em;
}


input:required, input{
    background-color: white !important;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px !important;
}

input:hover, input:focus{
    border: 1px solid #124ec2 !important;
}

input:disabled:hover, input:disabled:focus{
    border: 1px solid #ccc !important;
}

.message{
    font-size: 0.9em;
    margin-top: 10px;
}

.requiredInfo {
    font-size: 0.9em;
    padding: 0
}

.subscriptionPadding {
    display: inline-block;
    padding-left: 10px
}

.errorAlert {
    background-color: #Fa787e;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 60%;
    margin: 0 auto 15px auto;
    padding: 0.3em;
    color: white !important;
}

/* header */
.titleMain {
    display: block;
}

.titleAside {
    display: none;
}

/* aside info */
.avatar {
    width: 85px;
    height: 85px;
    background-color: #FFDDDD;
    border-radius: 50%;
    position: relative;
}

.avatarInitial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    letter-spacing: 0.2em;
    font-size: 1.2em;
}

.usernameTitle {
    margin: auto 0;
    letter-spacing: 0.05em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collapseCard {
    border-radius: 10px !important;
    background-color: rgba(0,0,0,.03) !important;
    border: none !important;
}

/* aside tile */
.leftWrapper {
    align-items: center;
    justify-content: space-between;
}

.leftTile {
    position: relative;
    background-image: linear-gradient(180deg, rgba(18, 78, 194,0.2) 0%, rgba(18, 78, 194, 0.02) 100%);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 5% 10%;
    z-index: 1;
}

.leftTile::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgba(18, 78, 194,1) 0%, rgba(18, 78, 194, 0.02) 100%);
    z-index: -1;
    transition: opacity 0.2s linear;
    opacity: 0;
}

.leftTile:hover::before {
    opacity: 1;
}

/* main */
.titleMain {
    display: none;
}

.rightWrapper {
    gap: 20px 2%;
}

.rightTile {
    position: relative;
    width: 300px;
    height: 180px;
    background: linear-gradient(180deg, rgba(153, 51, 152,0.2) 0%, rgba(153, 51, 152, 0.02) 100%);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 5px 10px;
    z-index: 1;
}

.rightTile::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(153, 51, 152,1) 0%, rgba(153, 51, 152, 0.02) 100%);
    z-index: -1;
    transition: opacity 0.2s linear;
    opacity: 0;
}

.rightTile:hover::before {
    opacity: 1;
}

.rightTileWrapper {
    align-items: start;
    align-content: start;
}

.tileButton {
    background-color: white;
    font-family: "Source Sans Pro", serif;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    display: block;
    color: #373737;
    font-weight: 600;
    margin: 5px 0;
    padding: 3px;
}

.tileText {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: 0.4s;
}

.arrowPosition {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

/* col-sm to col-md */
@media screen and (max-width: 576px) {
    body {
        font-size: 1.8em !important;
    }

    .rightTile {
        height: 200px;
    }
}

/* edit 1 over 1 layout */
@media screen and (max-width: 767px) {
    .subscriptionPadding {
        padding-left: 15px
    }
}

/* main 1 over 1 layout */
@media screen and (max-width: 733px) {
    /* no left border and padding/margin */
    #main {
        border: none;
        padding-left: 0;
    }
    #aside {
        margin-right: calc(3% + 1px);
    }

    /* left tile display in a row */
    .leftTileLayout {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .leftTile {
        padding: 3% 2%;
        font-size: 0.9em;
    }

    .memberTile {
        width: 41%;
    }

    .leaderTile {
        width: 57%;
    }

    /* header display in aside */
    .titleAside {
        display: block;
    }

    .titleMain {
        display: none;
    }

    /* auto height for right tile */
    .rightTile {
        height: auto;
        padding: 5px 10px 40px 10px;
    }

    .tileText{
        -webkit-line-clamp: 5;
    }

    /* edit - inline block gap */
    .inlineBlockGap {
        margin-bottom: 15px;
    }
    /* edit - error */
    .errorAlert {
        width: 100%;
    }
}

@media screen and (min-width: 734px) {
    /* userinfo show */
    .dropdownButton {
        display: none;
    }

    .collapse:not(.show) {
        display: block !important;
    }

    .collapseCard {
        background: none !important;
    }

    .textButton {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    /* right tile text hover */
    .tileText:hover {
        font-size: 0.8em;
        -webkit-line-clamp: 5;
    }

}
